<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <!--  전체 매퍼 중 유일한 값을 사용하여야 한다.
    해서 관계적으로 해당 파일의 path와 file_name(확장자 제외)
    그리고 dao 에서 namespace와 일치하여야 된다. -->
    
<mapper namespace="com.vandelay.app.codegroup.CodeGroupMapper">



                                          <!--select 결과를 받을 객채-->
    <resultMap id="resultMapObj" type="com.vandelay.app.codegroup.CodeGroup"></resultMap>
    
    <select id="selectList" resultMap ="resultMapObj">
    	SELECT 
    		seq,
    		type
    	FROM 
    		codeGroup
    </select>

</mapper>    